@import url('https://fonts.googleapis.com/css2?family=Alkatra&family=Maven+Pro:wght@400;700&family=Poppins:ital,wght@0,300;0,400;1,300;1,400&family=Roboto+Condensed:ital,wght@0,300;0,500;1,300&family=Titillium+Web:ital,wght@0,400;1,300;1,400;1,600&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Titillium Web', sans-serif;
}

body {
  overflow: hidden;
  position: relative;
  background-repeat: no-repeat;
  height: 100vh;
  /* cursor: pointer; */
  width: 100vw;
  background-color: #D8D9DA;
 
}

